*{
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
    box-sizing: border-box;
}

body{
    background-color: #1a1a1a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 240px 200px 200px 200px;
    flex-wrap: wrap;
}

@media(max-width: 600px){
    body{
        background-color: #000000cf;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 220px 20px 20px 20px;
        font-size: 10px;
    }
}